@media screen and (min-width:1112px){
    .nav-bar{
        margin-right: -1%;
    }

    .menu ul {
        margin-right:-1%;
    }

    .nova-t {        
        width: 41%;   
        margin-left: 2%;
    }

    .extrato {
        width: 47%
    }

    .valores {
        margin-left: 40%;
}

}