@media screen and (max-width:1200px){
   .nova-t {
        margin-right: 12px;
   }

   .extrato {
        width: 652px;
   }

   .nav-bar h1 {
        width: 191px;
   }
   
   .menu {
        margin-left: 450px;
   }
}