
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 255, 254);
}



/* ==================================================
            Barra de navegação
================================================== */

.nav-bar{
    display: flex;
    align-items: center;
    background-color: rgb(179, 179, 179);
    padding-top: 2%;
    font-size: 25px;
    padding-bottom: 2%;
    padding-left: 15px;
    margin-bottom: 15px;
}

.nav-bar img{
    width: 3% ;
    margin-right:15px;    
    margin-left: 190px;

}
/* ==================================================
            MENU
================================================== */

.menu{
   
    padding-left: 8px;
    margin-left: 26%;
    align-items: center;
    display: flex;
}

.menu label{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu  label:hover{
    font-weight: bold;
    color: rgb(84, 93, 90);
    cursor: pointer;
}

.menu ul{
    margin-top: 0;
    margin: auto;
    margin-right: -46%;

}

.menu li{
   display: flex;
   list-style-type:none;
 
}
.manu ul li div {
    margin-left: 1px;
    display: flex;
}

.li-menu{
   font-size: 15px;
   margin-left: 5px;
   }

.div-ul{
    display:flex;
    background-color: rgb(255, 255, 255);
    padding: 8px;
}

