
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


.extrato {
    width: 40%;
    margin-left: 51%;
    margin-top: -397px;
    font-family: 'Lato', sans-serif;
    
    
    
}

.extrato h3{
    margin-left: 178px;
    margin-bottom: 45px;
    

}

.merca{
    border-bottom: 1px solid black;
    
}
#merca{
    border-bottom: 1px solid black;
}

#merca p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.merca h4{
    margin-top: -23px;
    position: absolute;
    margin-left: 46px
}

.valor{
    margin-top: -23px;
    position: absolute;
    margin-left: 451px;
    font-family: 'Lato', sans-serif;
}

.merca-p{
    display: none;
}


.total{
    margin-bottom: 3px;
    margin-left: 46px;
    font-size: 14px;
    border-top: 1px solid black;
    margin-left: 0%;
    margin-top: 1%;
}


#total{     
    display: flex;   
    margin-bottom: 3px;
    margin-left: 46px;
    font-size: 14px;
    border-top: 1px solid black;
    margin-left: 0%;
    margin-top: 1%;
}

#valor{
    font-family: 'Lato', sans-serif;
    margin-right: 0%;
    padding-left: 73%;        
    margin-top: -5.5%;
    
    margin-right: 0%;
    padding-left: 73%;

}

.valores{
    margin-top: -215px;
    margin-left: 56%;
    width: 352px;    
}

.p-line1{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-right: -1%;
    padding-left: 60%;
    margin-bottom: 10%;    
}

.p-line2{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-right: -1%;
    padding-left: 59%;
    margin-bottom: 7%;
}


.p-line3{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-right: -1%;
    padding-left: 68%;
    margin-bottom: 10%;
}

.p-total{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-right: -1%;
    padding-left: 59%;
}