@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* ==================================================
            Nova Transação
================================================== */

.nova-t {
    border: 1px solid rgb(39, 38, 38);
    border-radius: 1%;
    margin-left: 0;
    width: 400px;
    height: 344px;
    margin-right: 57px;
    

    
}

.nova-t h1{
    font-size: 18px;  
    font-weight: bold;
    height: 20px;
    width: 174px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dados{
    margin-top: 25px;
    margin-left: 14.9px;
    margin-top: 13px;
    
}

.dados div {
    margin-bottom: 22px;
    display: grid;
}

.dados input{
    width: 352px;
    height: 32px;
    padding-left: 10px;

}

.nova-t section {
    width: 370px;
    margin-left: 14.9px
}

.nova-t section button {
    background-color: rgb(32, 31, 31);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px; 

    width: 370px;
    height: 32px;
}  

.nova-t section button:hover {
    background-color: #8d8d8d;
    cursor: pointer;
}