/* ==================================================
            Nova Transação
================================================== */

.nova-t {
    border: 1px solid rgb(39, 38, 38);
    border-radius: 1%;
    width: 32%;
    padding-bottom: 7%;
    padding-left: 22px;
    margin-left: 15%;    
    color: black;

    
}

.nova-t #titulo{
    font-size: 22px;
    margin-left: 31%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.dados{
    margin-right: 38%;
}

.nova-t .dados div {
    margin-right: 39%;
    margin-bottom: 22px;
}

.dados div input{
    width: 248%;
    margin-top: 5px;
    padding-bottom: 10px;
}

.dados div .input2{
    width: 248%;
}

.dados section button {
    background-color: rgb(32, 31, 31);
    border: none;
    width: 154%;
    border-radius: 2%;
    padding-bottom: 14px;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px; 
}  

.dados section button:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}