
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 255, 254);
}



/* ==================================================
            Barra de navegação
================================================== */

.nav-bar{
    display: flex;
    background-color: rgb(179, 179, 179);
    padding-top: 2%;
    font-size: 25px;
    padding-bottom: 2%;
    padding-left: 15px;
    margin-bottom: 15px;
}

/* ==================================================
            MENU
================================================== */

.menu{
   
    padding-left: 8;
    margin-left: 335px;
    align-items: center;
    display: flex;
}

.menu label{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu  label:hover{
    font-weight: bold;
    color: rgb(84, 93, 90);
    cursor: pointer;
}

.menu ul{
    margin-top: 0;
    margin: auto;
}

.menu li{
   display: flex;
   list-style-type:none;
 
}
.manu ul li div {
    margin-left: 1px;
    border: 30px solid rgb(187, 21, 21);
    display: flex;
}

.li-menu{
   font-size: 15px;
   margin-left: 5px;
   }

.div-ul{
    display:flex;
    background-color: rgb(255, 255, 255);
    padding: 8px;
}

/* ==================================================
            Nova Transação
================================================== */

.nova-t {
    border: 2px solid rgb(39, 38, 38);
    border-radius: 1%;
    width: 40%;
    padding-bottom: 7%;
    padding-left: 22px;
    margin-left: 15px;
    color: black;
}

.nova-t #titulo{
    font-size: 22px;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.dados{
    margin-right: 38%;
}

.nova-t .dados div {
    margin-right: 39%;
    margin-bottom: 22px;
}

.dados div input{
    width: 248%;
    margin-top: 5px;
    padding-bottom: 10px;
}

.dados section button {
    background-color: rgb(32, 31, 31);
    border: none;
    width: 392px;
    border-radius: 2%;
    padding-bottom: 14px;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px; 
}  

.dados section button:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}