
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(7, 49, 49);
    background-color: rgb(149, 202, 183);
   
}



/* ==================================================
            Barra de navegação
================================================== */

.nav-bar{
    background-color: white;
    padding-top: 2%;
    font-size: 25px;
    padding-bottom: 3%;
    padding-left: 15px;
    
}

/* ==================================================
            MENU
================================================== */

.menu{
    padding-left: 600PX;
    background: linear-gradient(50deg,rgb(149, 202, 183),rgb(34, 67, 55));
}
    
.menu .ancora {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    

}

.menu  a label:hover{
    font-weight: bold;
    color: rgb(5, 199, 135);
    cursor: pointer;
}

