
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@media screen and (max-width:750px){


     .nav-bar h1{
         margin: 55px;
     }
    
    /* ====================================================
                    Nova Transação
    ==================================================== */

    .nova-t {
        width: 371px;
        height: 290px;
        border: none;
        border-bottom: 1px solid rgb(39, 38, 38);
    }

    .nova-t h1{
        display: none;
    }

    .dados {
        display: block;
    }

    .dados label{
        margin-left: 0;
    }
  
    .dados p{
        margin-left: 0;
    }

    .dados input{
        margin-left: 0;
        width: 371px;
    }
    
    .dados select{
        height: 33px;
        margin-left: 0;
        width: 371px;
    }

    .dados :nth-child(2) input{
        width: 371px;
    }

    .nova-t section{
        margin-left: 0;
    }

    .nova-t section button{
        width: 371px;
        margin-left: 0;
        position: static;
    }

      /* ====================================================
                    Extrato
    ==================================================== */
    .extrato {
        width: 371px;
    }

}



