
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@media screen and (max-width:1100px) {
    
    .nav-bar {
        height: 60px;
    }

    .nav-bar h1{
        margin: 235px;
    }

    .logo{
        width: 30px;
        height: 27.63px;
    }

    .menu {
        display: none;
    }

    .menu2 {
        display: block;
        width: 18px;
        height: 12px;
    }

    .main {
        display: block;
    }

    /* ====================================================
                    Nova Transação
    ==================================================== */

    .nova-t {
        width: 728px;
        height: 189px;
        position: relative;
        margin: auto;
    }

    .dados {
        display: flex;
        margin-left: 0;
    }

    .dados label {
        margin-left: 20px;
    }

    .dados input {
        width: 150px;
        margin-left: 20px;
        box-sizing: border-box;
        padding-left: 10px;
    }

    .dados :nth-child(2) input{
        width: 348px;
    }

    .nova-t section button {
        width: 200px;
        height: 32px;
        font-size: 14px;
        position: absolute;
        right: 20px;
    }

        /* ====================================================
                    Extrato
    ==================================================== */

    .extrato {
        width: 728px;
        margin: auto;
        margin-top: 44px;
    }
      
}